#nav_body{
    
    width: 100%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    width: 80%;
    margin: auto;
    
}
#nav>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    cursor: pointer;
    
}
#nav>div:nth-child(1)>div{
  color: black;
    font-size: 20px;
}
#logo{
    margin-right: 15px;
    
}
#logo>a>img{
    height: 45px;
}
#logo>a{
    text-decoration: none;
}

#dropdownMenu2{
    background-color: white;
    color: #202c45;
    border: none;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#list_items{
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}
#list_items>div>a{
    display: flex;
    width: 100%;
    padding: 10px;
    color: #202c45;
}
#list_items>div>a{
    text-decoration: none;
}
#list_items>div>a>div:nth-child(2){
    padding-left: 15px;
}
#list_items>div>a>div:nth-child(2)>li>h4{
    font-size: 15px;
}
#list_items p{
    font-size: 15px;
    margin-top: -10px;
}
#list_items>div>a>div:nth-child(2):hover{
    cursor: pointer;
    color: #00d084;
}
/* #dropdownMenu2:hover{
    text-decoration: underline;
    text-decoration-color:#00d084;
} */
#second_option>a>button{
font-size: 18px;
padding: 10px;
color: #202c45;;
}
#second_option>a>button:hover{
    color: rgb(134, 109, 148);
    /* text-decoration: underline;
    text-decoration-color:#00d084; */
}
#user-signup{
    display: flex;
    justify-content: space-evenly;
}
#login{
    padding: 6px 20px 6px 20px;
    background-color: white;
    /* border: 1px solid gray; */
    border-radius: 5px;
    font-weight: 500;
    margin-left: 40px;
}
#login>a{
    text-decoration: none;
    color: black;
}
#signup{
    padding: 6px 20px 6px 20px;
    background-color: #00d084;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 15px;
}
#signup>a{
    text-decoration: none;
    color: white;
}
#signup:hover{
background-color: #12dd92;
}
#bar{
   background-color: #202c45;
}
#inv_opt{
    border: none;
}
@media screen and (min-width:916px) and (max-width:3000px) {
    #inv_opt{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;  
    }
}
@media screen and (min-width:100px) and (max-width:915px) {
    #visable{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

    #user-signup{
        margin-top: 40px;
    }
    #login{
        padding: 6px 20px 6px 20px;
        background-color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signup{
        padding: 6px 20px 6px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
}
